[Unit]
Description=Init KerberosV5 ticket for syslog
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/sbin/runuser -p syslog -s /bin/sh -c '/usr/bin/kinit -k host-clients'

[Install]
WantedBy=multi-user.target
