[Unit]
Description=Run 'syslog-emailreporter.service' four hourly and on boot

[Timer]
OnBootSec=1min
OnUnitActiveSec=4h

[Install]
WantedBy=timers.target
