[Unit]
Description=syslog-emailreporter logrotate and send mail
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/kbcom.net-syslog-emailreporter/run.bash flush
ExecStop=/opt/kbcom.net-syslog-emailreporter/run.bash flush

[Install]
WantedBy=multi-user.target
